# Django
*.pyc
__pycache__/
db.posgresql
db.sqlite3
*.sqlite3

# Environment & secrets
.env
.env.*
.venv

# Media & uploads
/media/
media/
assets/
myapp/media/
myproject/media/

staticfiles/
static/

# Migrations
*/migrations/
*/migrations/*.pyc
*/migrations/*.py

# OS files
.DS_Store
Thumbs.db

# VSCode
.vscode/

# Logs
*.log

